body {
    background-color: #ffffff;
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 80%;
}

.header {
    background-color: #212529;
    color: #ffffff;
    padding: 2rem;
    width: 100%;
}

.section {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

/* Buton stilleri */
button {
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
}

/* Yazı kutusu stili */
input {
    padding: 0.5rem;
    width: 250px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

/* Geri bildirim yazıları */
#feedback1, #feedback2 {
    font-weight: bold;
    margin-top: 15px;
}
