/* 1. Tag Seçicisi */
body {
    background-color: #f4f7f6;
    font-family: Arial, sans-serif; /* Özellik 1 */
}

/* 2. Class Seçicisi */
.jumbotron {
    border: 2px solid #007bff; /* Özellik 2 */
    box-shadow: 5px 10px 18px #888888; /* Özellik 3 */
}

/* 3. ID Seçicisi */
#js-message {
    color: #d9534f; /* Özellik 4 */
    font-weight: bold;
}

/* 4. Birleşik Seçici */
nav a.nav-link {
    text-transform: uppercase; /* Özellik 5 */
}

/* 5. Hover Seçicisi */
.btn-success:hover {
    filter: brightness(1.2);
}
